 a{
     font-size: 16pt;
 }
.navbar .navbar-brand{
    box-shadow: 0x 0x 10px black;
}
body{
	font-family: 'Dosis', sans-serif;
}
#home {
    background-image: url('../img/site.png');
	background-color: #222;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
    padding: 0;
}
.home-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px;
    font-family: 'Pacifico', cursive;
}

.intro h1{
    font-weight: 800;
    color: white;
    font-size: 32pt;
}

.start {
	color: #ddd;
	font-size: 16pt;
	font-style: normal;
	text-transform: none;
	margin: 15px 0;
}

.block-image{
    padding: 0px;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
    text-align: center;
}

.scroll-down span{
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@-webkit-keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}



.header {
	border-bottom: 1px solid #f5f5f5;
	position: relative;
	width: 100%;
	z-index: 998;

}

.navbar-custom {
	
	border: 0;
	border-radius: 0;
	margin: 0;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
	background: #fff;
	padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	font-size: 15px;
	letter-spacing: 3px;
	color: #222;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
	background: none;
	outline: 0;
	color: #7E7E7E;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
    font-size: 22px;
    font-family: 'Indie Flower', cursive;
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #E7746F;
	border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
	padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}



.iconbox {
	background: #fff;
	border-bottom: 1px solid #d4d4d4;
	text-align: center;
	padding: 40px 20px;
	margin: 0 0 20px;
}

.iconbox-icon {
	margin: 0 0 15px;
	font-size: 32px;
	color: #222;
}

.iconbox-title {
	margin: 0 0 15px;
	padding: 0;
}


.pfblock-header {
	text-align: center;
	margin: 0 0 60px;
}

.pfblock-header-left {
	text-align: left;
}

.pfblock-header-left .pfblock-line {
	width: inherit;
	margin: 30px 0;
}

.pfblock-title{
    font-weight: 800;
}

.pfblock-subtitle {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	font-size: 18px;
}

.pfblock-line {
	background: rgba(135, 135, 135, 0.5);
	width: 100px;
	height: 1px;
	margin: 30px auto;
}

.pfblock-icon {
	font-size: 32px;
}
.pfblock {
	padding: 120px 0 100px;
}

.pfblock-gray {
	background: #f5f5f5;
}

.pfblock-image {
	padding: 0;
}

#footer {
	background: #222;
	text-align: center;
	padding: 40px 0;
	color: #FFF;
}

.copyright {
	margin: 0;
}

.copyright a{
    border-bottom: 1px dotted #fff;
}

#footer span{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 36px;
	height: 36px;
	display: block;
	line-height: 35px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, .1);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	font-size: 14px;
	color: rgba(255, 255, 255, .2);
}

.social-links a:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .8);
}






/* ---------------------------------------------- /*
 * Input-group
/* ---------------------------------------------- */

.input-group .form-control {
	z-index: auto;
}

.input-group-addon {
	background: #D8E1E4;
	border: 2px solid #D8E1E4;
	padding: 6px 15px;
	font-weight: 700;
}

/* ---------------------------------------------- /*
 * Inputs styles
/* ---------------------------------------------- */

.form-control {
	background: #FFF;
	border: 1px solid #D8E1E4;
	font-size: 12px;
	padding: 0 15px;
}

.form-control:focus{
    border-color: rgba(135, 135, 135, 0.7);
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
	height: 38px;
	font-size: 13px;
}

.input-sm,
.form-horizontal .form-group-sm .form-control {
	font-size: 11px;
	height: 30px;
}

textarea.form-control {
	padding: 15px;
    max-width: 100%;
    min-width: 100%;
}

.skills .col-md-3,.col-md-4 {
	padding: 1em;
	border: 1px  dashed #ddd;
}
.skills .row{
	padding-bottom: 0.6em;
	border-bottom: 2px dotted gray;
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
	right: 2em;
	padding: 1em;
	padding-top: -1em !important;
	border: 1px solid #428bca;
	border-radius: 200px;


	
}